.detail-page {
  padding: 1rem;
}

.card-intro {
  display: flex;
}

.card-img {
  flex: 1 0 20%;
}

.card-info {
  flex: 1 0 80%;
  margin-left: 16px;
  align-self: center;
}

.title {
  margin-left: 16px;
}

.seasons-list {
  padding: 16px;
  width: 65%;
}

.sub-title {
  font-weight: 600 !important;
}

.season-title {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
}
